.footerbg{
    background-color: rgb(49, 46, 48);
    color: white;
    font-size: 1rem;
    font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif
}
.listStyle{
    list-style-type: none;
   
}
ul{
    text-align: center;
    list-style-position: inside;
    
}
.linkStyle{
    text-decoration: none;
    color: white;
}