.heading{
    color: rgb(41, 2, 41);
    font-weight: bold;
    font-size: 2rem;
    font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif
}
.linkStyle{
    color: rgb(22, 1, 22);
    font-weight: bold;
    font-size: 1rem;
    font-family: Arvo,Georgia,Cambria,Times New Roman,Times,serif
}